@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  background-color: #404040;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 2px solid #2c2c2c;
  padding: 40px 50px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #cb9e22;
  font-weight: 300;
}

button {
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 5px;
  cursor: pointer;
}

.header-link-main {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 20px;
}

.header-links li {
  list-style-type: none;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.search input {
  border-radius: 15px;
  border: none;
  background-color: #ebebeb;
  padding: 10px;
  color: #555;
  font-weight: 500;
  width: 300px;
}

.search input:focus {
  outline: none;
}

.search button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #cb9e22;
  color: #2c2929;
  border: none;
  font-weight: 500;
}

.cart-items-amount {
  background-color: red;
  border-radius: 100%;
  text-align: center;
  padding: 3.5px;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 30px;
}

.hidden {
  display: none;
}

.container {
  padding: 50px;
}

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.posts {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post {
  width: 275px;
  height: 400px;
  padding: 10px;
  border-radius: 5px;
  background: #2c2929;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

.post h2 {
  font-size: 15px;
}

.post p {
  margin-bottom: 10px;
}

.post a {
  color: #fff;
  margin-top: auto;
}

.post img {
  width: 150px;
  height: 150px;
  margin-top: auto;
  align-self: center;
  object-fit: cover;
}

.cart .post img {
  margin-top: auto;
  margin-bottom: auto;
}

.add-to-cart-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #cb9e22;
  color: #2c2929;
  border: none;
}

.add-to-cart-btn:disabled {
  cursor: not-allowed;
}

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.pagination button {
  border-radius: 5px;
  border: none;
  width: 30px;
  height: 30px;
}

.current-page {
  background-color: #cb9e22;
  color: #2c2929;
}

.prev-btn {
  margin-right: 10px;
  width: 60px !important;
}

.next-btn {
  margin-left: 10px;
  width: 60px !important;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
